/* FONTS */
@font-face {
    font-family: "";
    src: url(fonts/.woff2) format("woff2");
}

/* VARIABLES */
.root {
    --color-primary: #000;
    --color-secondary: #fff;
}

/* GENERAL */
html {
    font-size: 16px;
    font-family: sans-serif;
    color: var(--color-primary);
    background-color: var(--color-secondary);
}

body {
}

#container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    display: grid;
    grid-template-rows: 100px auto auto;
}

header,
main,
footer {
    padding: 1rem;
}

/* HEADER */
.header {

    &__logo {
    }

    &__item {
    }
    &__link {
    }
    &__hamburguesa {
    }
}
.header__nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 1fr;
    row-gap: 10px;
}

.header__menu {
    a{
        font-size: 30px;
        color: aliceblue;
    }
    
}

/* Menú Desplegable */
input, .header__menu{
    display: none;
}
input:checked ~ .header__menu{
    background-color: rgb(182, 182, 182);
    height: calc(100vh - 100px);
    padding: 20px;
    width: 100%;

    grid-column: 1 / 3;
    grid-row: 2 / 3;
    display: grid;
}


/* MAIN */
main {
    &__banner {
        display: none;
        @media screen and (min-width: 768px) {
            display: block;
            height: 500px;
            object-fit: cover;
            object-position: center;
        }
    }
}

/* FOOTER */
footer {
}

